extends ../layout

block content
  h1 Minhas cervejas

  form(action='/beers', method='POST')

      label
          span Name
          input(type='text', name='name', placeholder='Name')

      label
        span Alcohol %
        input(type='text', name='alcohol', placeholder='alcohol')

      label
        span Category
        input(type='text', name='category', placeholder='category')

      label
        span Description
        textarea(name='description')

      input(type='submit', value='Cadastrar')